/* for login and regist pages */

.title {
  text-align: center;
  margin-top: 10%;
}

.box {
  position: relative;
  margin-left: 33%;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 50px;
}

.secondfont {
  font-size: 18px;
}

.center-font {
  text-align: center;
}

footer {
  color: #929496;
  font-size: 15px;
}
