body{
  font-size: 18px;
}

col {
  margin-left: 0;
  margin-right: 0;
  
}

.card {
  width: 21rem;
}

.card-content {
  font-size: 20px;
}

#card-display {
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  font-size: 26px;
  font-weight: bold;
}

#credit-info {
  font-size: 12px;
}
